body{
  border-style:double
}

h1{
  font-size:300%;
  text-align:center;
  position: fixed;
}

h2{
  font-size:150%;
}

h3{
  font-size:150%;
  position: relative;
}

h4{
   color:#03FFFA;
   font-size:150%;
}

p{
  font-family: "Arial", Times, serif;

}

h5{
  text-transform: lowercase;
  font-size:150%;
}

h6{
  font-size:150%;
  position: absolute; 
}

ul, ol{
  color: #008CFF;
}
body p{
  color: #890FFF;
}
